page-advancedsearch {
  .by-default {
    text-align: center;
    text-decoration: underline;
    color: #c2419c;
    margin: 14px 0;
  }
  .select-text {
    margin-top: 16px;
  }
  .item.item-md .checkbox-md[item-right] {
    margin: 11px 10px 10px 10px;
  }
  .list-md {
    margin-top: 4px
  }
}
