<!--
  Generated template for the AdvancedsearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-navbar>
        <ion-title>advanced-search</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="form">
       <ion-item class="border-top">
            <ion-label>{{form.country.label}}</ion-label>
            <ion-select multiple="true" okText="אישור" cancelText="ביטול" [(ngModel)]="form?.country.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.country.choices">
                    {{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form.region.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form.region.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.region.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>מגובה</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.heightFrom.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form.heightFrom.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>עד גובה</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.heightTo.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form.heightTo.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>מגיל</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.age.valueFrom">
                <ion-option value="{{child.value}}" *ngFor="let child of form.age.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>עד גיל</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form.age.valueTo">
                <ion-option value="{{child.value}}" *ngFor="let child of form.age.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form?.hairLengthId.label}}</ion-label>
            <ion-select multiple="true" okText="אישור" cancelText="ביטול" item-content
                        [(ngModel)]="form?.hairLengthId.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form?.hairLengthId.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form?.hairColor.label}}</ion-label>
            <ion-select multiple="true" okText="אישור" cancelText="ביטול" item-content
                        [(ngModel)]="form?.hairColor.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form?.hairColor.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form?.eyesColor.label}}</ion-label>
            <ion-select multiple="true" okText="אישור" cancelText="ביטול" item-content
                        [(ngModel)]="form?.eyesColor.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form?.eyesColor.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form.body.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.body.value">
                <ion-option value="{{ body_t.value }}" *ngFor="let body_t of form.body.choices">{{body_t.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
           <ion-label>{{form.weightFrom.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.weightFrom.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form?.weightFrom.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="border-top">
            <ion-label>{{form.weightTo.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.weightTo.value">
                <ion-option value="{{child.value}}" *ngFor="let child of form?.weightTo.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

          <ion-item class="border-top">
              <ion-label>{{form?.userRelationship.label}}</ion-label>
              <ion-select multiple="true" okText="אישור" cancelText="ביטול" item-content [(ngModel)]="form?.userRelationship.value">
                  <ion-option value="{{child.value}}" *ngFor="let child of form?.userRelationship.choices">{{child.label}}
                  </ion-option>
              </ion-select>
          </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.origin.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.origin.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.origin.choices">
                    {{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>


        <ion-item class="border-top">
            <ion-label>{{form.education.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.education.value">
                <ion-option value="{{ educ.value }}" *ngFor="let educ of form.education.choices">{{educ.label}}
                </ion-option>
            </ion-select>
        </ion-item>



        <!--<ion-item class="border-top">
              <ion-label>{{form.lookingFor.label}}</ion-label>
              <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form.lookingFor.value">
                  <ion-option value="{{ child.value }}" *ngFor="let child of form.lookingFor.choices">{{child.label}}
                  </ion-option>
              </ion-select>
          </ion-item>-->

       <!-- <ion-item class="border-top">
            <ion-label>{{form.income.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.income.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.income.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>-->
        <ion-item class="border-top">
            <ion-label>{{form.occupation.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.occupation.value">
                <ion-option value="{{ occ_w.value }}" *ngFor="let occ_w of form.occupation.choices">{{occ_w.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.economic.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.economic.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.economic.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.maritalStatus.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.maritalStatus.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.maritalStatus.choices">
                    {{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.userChildren.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form?.userChildren.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form?.userChildren.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.smoking.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form.smoking.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.smoking.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{form.drinking.label}}</ion-label>
            <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form.drinking.value">
                <ion-option value="{{ child.value }}" *ngFor="let child of form.drinking.choices">{{child.label}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="border-top">
            <ion-label>{{ form.withPhotos.label }}</ion-label>
            <ion-checkbox color="danger" item-right [(ngModel)]="form?.withPhotos.value"></ion-checkbox>
        </ion-item>


        <button full color="danger" (click)=toSearchResultsPage() ion-button>{{ form.submit }}</button>
        <div class="by-default" (click)="resetForm()">חזרה למצב ברירת מחדל</div>
    </div>
</ion-content>
<ion-footer>

    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-footer>
  
  
