page-profile {

  .swiper-pagination-bullet-active {
    background: #c2419c;
  }



  .paying {
    background: url(../assets/img/icons/paid.png) no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: 28px;
    z-index: 999;
  }
  .profile {
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 360px;
  }

  .pmtitle span.age {
    clear: none;
    display: inline;
    margin-right: 4px;
    font-size: 17px;
  }

  .pmtitle {
    position: relative;
    background: #e9e8e5;
    padding: 9px 34px 1px 40px;
    font-size: 21px;
  }
  .pmtitle span {
    font-size: 14px;
    display: block;
    clear: both;
  }

  .pmtitle strong {
    line-height: 2em;
  }
  .pmbotul {
    font-size: 12px;
    position: relative;
  }
  .pmbotul li .one {
    font-weight: bold;
    width: 115px;
    display: table-cell;
  }

  .pmbotul li .two {
    //display: block;
    //width: 57%;
    //float: left;
    display: table-cell;
  }
  .pmbotul li {
    margin-bottom: 5px;
    //display: flow-root;
  }

  .pmtitle.bottom span {
    display: inline;
  }
  .btn-opt {
    text-align: center;
  }

  .pmtitle.bottom {
    text-align: center;
    padding: 4px 10px 28px 10px;
  }

  .pmtitle.bottom span ion-icon {
    margin-right: 5px;
  }

  textarea.text-input {
    text-align: right;
    direction: rtl;
    width: 86%;
    margin: 5px auto 0px;
  }

  .pmbotul .more-about-me li .one {
    width: 100%;
  }

  .profile-sub-title {
    width: 100%;
    padding: 5px 0 6px 0;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 5px;
  }

  .favorite-profile-btn.disabled {
    opacity: 1;
    background: none !important;
    border: 1px solid #5b5b5b;
    img {
      width: 32px;
      height: 30px;
      margin: 0 auto;
      margin-top: 11px;
      display: block;
    }
  }

  li {
    list-style-type: none;
  }

  .pmdetail {
    padding-right: 15px;
  }

  .pbot_con {
    float: right;
  }

  .new-user {
    background: url(../assets/img/icons/new.png) no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: -6px;
    z-index: 999;
  }

  .profile-buttons .favorite-profile-btn,
  .profile-buttons .like-profile-btn,
  .profile-buttons .message-profile-btn {
    background: rgba(233, 232, 229, 0.5);
    width: 49px;
    height: 49px;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .video-chat-btn{
    background-image: url(../assets/img/video/v-chat.png);
    background-position:  center;
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-size: 100%;
    margin-bottom: 5px;
    background-color: rgba(233, 232, 229, 0.5);
    border-radius: 50%;
  }

  .online-user {
    top: 13px;
    right: 10px;
    height: 16px;
    width: 16px;
    background-color: #45d362;
    position: absolute;
    border-radius: 100%;
  }

  .three {
    display: block;
    margin-top: 1%;
  }

  ion-textarea > textarea {
    text-align: center;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
  }

  .back-btu-wrap {
    position: absolute;
    z-index: 999999;
    width: 50px;
    height: 47px;
    top: 68px;
    right: 8px;
  }

  .vip{
    background-image: url("../assets/img/bg_vip_4350c8.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    padding-left: 100px;
    border: 2px #4350c8 solid;
    .paying{
      background: url(../assets/img/vip_icon.png) no-repeat;
      width: 100px;
      height: 40px;
      position: absolute;
      background-size: cover;
      left: 3px;
      top: 13px;
    }
  }

}
