page-video-chat {
  .top-video{
    position: absolute;
    bottom: 76px;
    left: 10px;
    max-width: 80px;
    z-index: 2;
    border-radius: 5px;
  }

  .main-video{
    width: 100%;
    max-height: 100%;
  }
}
